
<div class="container">
    <h3>Edit Labels</h3>
    <div class="createlabel">
        <div>
            <input type="text" placeholder="Create Label" #labelInput [ngModel]="lname">
        </div>
        <div>
            <a><img class="tick"  src="assets/icon/tickk.svg"
                    (click)="onClickCreateLabel(labelInput.value)" matTooltip="Create Label"></a>
        </div>
    </div>
    <div class="labellist">
        <div class="listFor" *ngFor="let label of labels">
         
            <div >
                <img    (click)="onClickDeleteLabel(label.labelName)"
                    src="assets/icon/delete.svg" style=" margin-top: 10px; height: 20px;margin-left: 0; width: 20px;"
                    matTooltip="Delete Label">
            </div>
            <div style="text-align: left;">
            <label mat-menu-item style=" font-size: large; font-weight: bolder;">{{label.labelName}}</label>
            </div>
            <div class="imgedit">
                <img  (click)="OnclickEdit(label.labelName)" src="assets/icon/edit.svg" style="margin-top: 10px;"
                    matTooltip="Edit label">
            </div>
        </div>
    </div>
</div>