.container{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.imgedit {
       align-items: flex-end;   }


input{
  width: 17.5rem;
  height: 1.8rem;
}

.tick{
  height: 1.5rem;
   width: 1.5rem; 
   margin-left: 0.2rem;
   padding: 10px;
   border-radius: 3rem;
}

.tick:hover{
  background-color: grey;
}

.createlabel{
  display: flex;
}

.listFor{
  display: flex; 

}