
<div class="container">
    <h2>Edit Labels</h2>
    <div class="createlabel">
        <div>
            <input type="text" placeholder="Create Label" #labelInput [ngModel]="lname">
        </div>
        <div>
            <a><img class="tick"  src="assets/icon/tickk.svg"
                    (click)="onClickCreateLabel(labelInput.value)" matTooltip="Create Label"></a>
        </div>
    </div>
    <div class="labellist">
        <div  *ngFor="let label of labels" fxLayout="row" fxLayoutAlign="space-between center">
         
                <div style=" width: 1rem; margin-bottom: 0;margin-top: 0;">
                <img style="width: 20px;height: 20px;color: grey;"   (click)="onClickDeleteLabel(label.labelName)"
                    src="assets/icon/delete.svg" 
                    matTooltip="Delete Label">
                </div>
                
            <div style=" width: 8rem; margin-bottom: 0;margin-top: 0;">
                <h3 style="color: grey;"> {{label.labelName}}</h3>
                </div>
            <div style="width: 1rem; margin-bottom: 0;margin-top: 0;">
                <img style="color: grey;" (click)="OnclickEdit(label.labelName)" src="assets/icon/edit.svg" 
                    matTooltip="Edit label">
                </div>
        </div>
    </div>
</div>