<div class="container">
    <h3 style="color: black;">Label Note</h3>
    
    <div style="margin-bottom: 1rem; margin-top: 0px;">
        <mat-form-field appearance="fill"  style="width:18rem; height: 0px; margin-bottom: 0.5rem;">
            <input matInput id="searchLabel" placeholder="Search" #labelInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="labellist">
        <div class="listFor" *ngFor="let label of labels | label:labelInput.value">
            <mat-checkbox style="margin: 0.5rem;" id="checkLabel" (click)="onAddLabel(label.labelName)"> <h4 id="checkL" (click)="onAddLabel(label.labelName)" style="color: gray; margin: 0.5rem; padding-left: 1rem;"> {{label.labelName}}</h4></mat-checkbox>
        </div>
    </div>
    <div style="padding-top: 10px;" [hidden]="labelInput.value==''"> 
        <mat-divider></mat-divider>
        <div class="createlabel">
            <div>
                <a><img class="tick"  src="assets/icon/add.png"
                    (click)="onClickCreateAndMapLabel(labelInput.value)" matTooltip="Create Label"></a>
            </div>
            <div >
                <button mat-button id="createLabel" (click)="onClickCreateAndMapLabel(labelInput.value)" ><h2>Create</h2></button>
            </div>
            <div>
                <h3 style="padding: 0px; margin-top: 7px; color: gray; " >" {{labelInput.value}} "</h3>
            </div>
        </div>
    </div>
</div>
