<div class="container">
<div>
    <a><img src="assets/icon/reminderr.svg" matTooltip="Add Reminder"> </a>
</div>
<div>
    <a><img src="assets/icon/collab.svg" (click)="openDialog()" matTooltip="Add Collaborator"> </a>
</div>
<div>
    <a><img src="assets/icon/colour.svg" [matMenuTriggerFor]="changecolor" matTooltip="Add Color"> </a>
</div>
<mat-menu #changecolor="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent>
        <div fxLayout="row wrap" fxLayoutGap="0.75rem" style="margin: 0.5rem;" *ngFor="let colors of colorArray">
            <div *ngFor="let color of colors">
                <button [ngStyle]="{'background-color':color.color}" (click)="changeColor(noteDetail.noteid,color.color)"
                 matTooltip={{color.name}} mat-mini-fab>

                </button>
            </div>
        </div>
    </ng-template>
</mat-menu>

<div>
    <a><img src="assets/icon/imag.svg" matTooltip="Add Image"></a>
</div>

<div>
    <a><img src="assets/icon/archiv.svg" (click)="onClickArchive(noteDetail.noteid)" *ngIf="!noteDetail.isArchived" matTooltip="Archive" ></a>
</div>
<div>
    <a><img src="assets/icon/unarchiv.svg" (click)="onClickArchive(noteDetail.noteid)" *ngIf="noteDetail.isArchived"  matTooltip="UnArchive"></a>
</div>
<div>
    <a><img mat-icon-button [matMenuTriggerFor]="menu" style="height: 1.5rem; width: 2rem;" src="assets/icon/moree.svg" (click)="onClickSetNoteId(noteDetail.noteid)" matTooltip="More"></a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onClickDeleteNote(noteDetail.noteid)">Delete Note</button>
        <button mat-menu-item  (click)="openLabelDialog(noteDetail)">Add Label</button>
    </mat-menu>
</div>
</div>
