.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.remin {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  
  // height: 15rem;
  // width: 12rem;
}

