
<div class="loginContainer" >
    <mat-card class="box">
        
      <mat-card-header>
        <mat-card-title >
        <div class="mat-display-1">FundooNotes</div>
        </mat-card-title>
        <mat-card-subtitle >
            <div class="mat-typography"><h1 class="title">Login</h1></div>
        </mat-card-subtitle>
      </mat-card-header>
     
      <div class="loginContent" >
        <mat-card-content  >
        <div>
           <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. abc@example.com" id="email" type="email" [formControl]="emailId"   >
              <mat-error  *ngIf="emailId.invalid">{{emailErrorMessage()}}</mat-error>
           </mat-form-field>
        </div>
        <div>
           <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
                <input matInput placeholder="Password" id="pass" type="password" [formControl]="password"   >
                <mat-error  *ngIf="password.invalid">{{passwordErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <mat-card-actions>
            <button mat-raised-button class="loginBtn" color="primary" (click)="onLoginSubmit()" type="submit" id="submit" [disabled]="emailErrorMessage() != '' || passwordErrorMessage() != ''"> Login</button><br/><br/>
            <a routerLink="/register">Create Account</a> &nbsp;&nbsp;&nbsp;
            <a routerLink="/forgotPassword">Forgot password ?</a>
        </mat-card-actions>
       </mat-card-content>
      </div>
    </mat-card>
  </div>
