@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
#container{
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    margin: 0.75rem;
    // margin-right: 5rem;
    // align-items: flex-end;
    width: auto;
}

.matDesc{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

mat-card-content{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: medium;
}

.matDisplay{
    // display: flex;
    width: 20rem;
    height: auto;
    //  justify-content: space-between;
   
}

mat-card{
    border-radius: 15px;
    border: 1px solid transparent;
    margin-bottom: 0.75rem;
    margin-right: 0;
    background-color: transparent;
}

// .noteIcon{
//     display: flex;
//     flex-direction: column;
// }

.matdiv {
    display: flex;
    flex-wrap: column wrap;
  }

img {
    align-items: flex-end;
  }
  .pindiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 17em;
    visibility: visible;
    margin: 0;
  }

