<div id="container" >
    <div class="matDisplay"  >
        <mat-card [style.background-color]="noteDetail.colour">
            <div id="matdiv">
            <div class="pindiv" >
                <!-- <a><img id="pin" src="assets/icon/unpin.svg"  (click)="onPin(noteDetail.id)"/></a> -->
                <a matTooltip="Pin Note"><img id="pin" src="assets/icon/unpin.svg" (click)="onClickPin(noteDetail.noteid)"  *ngIf="!noteDetail.pinned" /></a>
                <a matTooltip="UnPin Note"><img id="pin" src="assets/icon/pin.svg" (click)="onClickPin(noteDetail.noteid)" *ngIf="noteDetail.pinned"/></a>
            </div>
            <!-- <div class="pindiv" *ngIf="!pinn">
                <a><img id="pin" src="assets/icon/pin.svg"  (click)="onPin(noteDetail.id)"/></a>
            </div> -->
            <div class="matTitle">
                <mat-card-title id="matTitle" (click)="openMatDialog(noteDetail)">
                    {{noteDetail.title}}
                </mat-card-title>
            </div>
            <div class="matDesc">
                <mat-card-content id="matDesc" (click)="openMatDialog(noteDetail)">
                    {{noteDetail.description}}
                </mat-card-content>
            </div>

            <!-- <div style="margin-bottom: 0.9rem;" class="reminder" *ngIf="noteDetail.reminder">
                <label style=" background: transparent;background-clip: padding-box; border-radius: 1rem; background-color: rgba(0,0,0,.1);border: solid transparent; padding: 5px ;text-align: center;" >{{noteDetail.reminder}}</label>
            </div>-->
            <div *ngIf="noteDetail.reminder != null" style="margin: 0px;">
                <mat-card-content class="content" id="remainder-box">
                    <mat-chip class="textArea" style="margin: 0px; background: transparent;background-clip: padding-box; border-radius: 1rem; background-color: rgba(0,0,0,.1);border: solid transparent; padding: 10px ;text-align: center;" >
                        {{ displayReminder }}
                        <mat-icon matChipRemove (click)="removeReminder(noteDetail.noteid)" matTooltip="remove">cancel</mat-icon>
                    </mat-chip>
                </mat-card-content>
              </div>
        
            <div  class="labels" >
            <mat-chip-list>
                
                  <mat-chip *ngFor="let label of labels" style="margin: 0px 0px 0px 5px; background: transparent;background-clip: padding-box; border-radius: 1rem; background-color: rgba(0,0,0,.1);border: solid transparent; padding: 10px ;text-align: center;" >
                      {{label.labelName}}
                    <mat-icon matChipRemove (click)="removeNoteLabel(label.labelName,noteDetail.noteid)" matTooltip="remove">cancel</mat-icon>
                    </mat-chip>
                
            </mat-chip-list>
        </div>
            <div class="noteIcon" *ngIf="!noteDetail.trashed; else trashedNote " >
                <app-note-icon [noteIconDetail]="noteDetail"></app-note-icon>
            </div>
            <ng-template #trashedNote>
                <div class="trashcard">
                  <!-- <mat-card-footer> -->
                      <div>
                    <button mat-icon-button (click)="deletePermanently(noteDetail.noteid)">
                      <mat-icon matTooltip="Delete forever">delete_forever</mat-icon>
                    </button></div>
                  
                    <button mat-icon-button matTooltip="Restore" (click)="deleteNote(noteDetail.noteid)">
                      <mat-icon>restore_from_trash</mat-icon>
                    </button>
                  <!-- </mat-card-footer> -->
                </div>
              </ng-template>
        </div>
        </mat-card>
    </div>
</div>
