@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
  }

  .image{
    margin-left: 1rem;
  }
  .iconGrey{
    color: grey;
  }
  .toolbar{
    display: flex;
    flex-direction: row;

     background-color: white;
  }

  mat-toolbar{
    height: 5rem;
  }

 .tl{
   margin: 1rem 0;
 }
  .divider{
    background-color: lightgrey;
  }
 
  mat-sidenav-container{
    display: flex;
  }
  mat-sidenav-content{
    justify-content: center;
    overflow: scroll;
    background-color: white;
  }
  mat-sidenav{
    margin-top: 0px;
    // border-color: 1px whitesmoke;
    // background-color:rgb(255,250,250);
    width: 20%;
    justify-content: center;
    padding: 16px;
  }

  .keep{
  //   padding: 1rem;
   margin: 0 3rem 0 .5rem;
   color: #5f6368;
    opacity: 1;
    display: inline-block;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
  }

  .example-form-field {
    width: 60%;
    text-decoration: none;
  }
  .card {
    border: 1px solid lightgray;
    // background-color: rgb(234, 237, 237);
    border-radius: 1em;
    width: 50%;
    height: 60%;
   margin-right: 60px;
   outline: none;
   padding-bottom: 20px;
   margin-left: 6rem;
  }

  .nav{
    padding-right: 1.5em;
  }
  
  .navIcon:hover {
      background-color: lightgrey;
    }
  
  .navButton{
    background-color: Transparent;
    // border: none;
    border: transparent;
    // border-radius: 1em;
    width: 90%;
    text-align: left;
    margin: 0.5rem 0;
    box-shadow: none;
    color: #5f6368;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    line-height: 1rem;
    font-size: large;
    text-transform: uppercase;
    padding: 15px 24px 10px;
    border-top-right-radius: 1.5rem;
    // border-bottom-right-radius: 1.5rem;
    // border-radius: 0 25px 25px 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }

  .navButton:hover{
    background-color: lightgray;
  }

  .navButton:active { 
    background-color: #feefc3;;
  }


  .matSidenavIcon{
    margin-right: 1em ;
  }

  // .signout-button{
  //   border: 1px solid gray;
  // }

 .label{
  padding: 15px 24px 10px;
  color: #5f6368;
  font-family: Roboto,Arial,sans-serif;
  font-size: large;
  text-transform: uppercase;
 }