.forgotContainer{
    margin-top: 10em;
    padding: 0;
    align-content: center;
    display: flex;
    justify-content: space-around;
    
}

.forgotContent{
    display: flex;
    align-content: center;
    height: 10em;
    width:20em;
    padding-left: 15px;
    
}

.mat-display-1{
    color: powderblue;
    justify-content: center;
}

.box{
    border-style: outset;
}