.registrationContainer{
    margin-top: 10em;
    padding: 0;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.registrationContent{
    display: flex;
    align-content: center;
    height: 25em;
    width:20em;
    padding-left: 15px;
}

a{
    text-decoration: none;
}
.mat-display-1{
    color: powderblue;
    justify-content: center;
}
.box{
    border-style: outset;
}