.registrationContainer{
    margin-top: 10em;
    padding: 0;
    align-content: center;
    display: flex;
    justify-content: space-around;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
}

.registrationContent{
    display: flex;
    align-content: center;
    height: 25em;
    width:20em;
    padding-left: 15px;
}

a{
    text-decoration: none;
}
.mat-display-1{
    color: powderblue;
    justify-content: center;
}
.box{
    border-style: outset;
}