<div class="registrationContainer" >
    <mat-card class="box">
        
      <mat-card-header>
        <mat-card-title >
        <div class="mat-display-1">FundooNotes</div>
        </mat-card-title>
        <mat-card-subtitle >
            <div class="mat-typography"><h1 class="title">Registration</h1></div>
        </mat-card-subtitle>
      </mat-card-header>
     
      <div class="registrationContent" >
        <form >
        <mat-card-content  >
            <div class="form-group">
                <mat-form-field floatLabel="auto" >
                   <input  matInput placeholder="Enter your Name" type="text" [formControl]="userName"  >
                   <mat-error  *ngIf="userName.invalid">{{nameErrorMessage()}}</mat-error>
                </mat-form-field>
             </div>
             <div class="form-group">
                <mat-form-field floatLabel="auto" >
                   <input  matInput placeholder="Enter your Email" type="email" [formControl]="emailId"   >
                   <mat-error  *ngIf="emailId.invalid">{{emailErrorMessage()}}</mat-error>
                </mat-form-field>
             </div>
             <div class="form-group">
                <mat-form-field >
                     <input  matInput placeholder="Password" type="password" [formControl]="password"   >
                     <mat-error  *ngIf="password.invalid">{{passwordErrorMessage()}}</mat-error>
                 </mat-form-field>
             </div>
             <div class="form-group">
               <mat-form-field >
                    <input  matInput placeholder="Confirm Password" type="password" [formControl]="confirmPassword"   >
                    <mat-error  *ngIf="confirmPassword.invalid">{{confirmPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

             <div class="form-group">
                <mat-form-field floatLabel="auto" >
                   <input  matInput placeholder="Enter your Mobile Number" type="text" [formControl]="phoneNumber"  >
                   <mat-icon matPrefix style="margin-right: 20px;" color="primary">phone</mat-icon>
                   <mat-error  *ngIf="phoneNumber.invalid">{{phoneErrorMessage()}}</mat-error>
                </mat-form-field>
             </div>

            <mat-card-actions>
                <button mat-raised-button (click)="onRegistrationSubmit()" type="submit" [disabled]="nameErrorMessage() !='' || emailErrorMessage() != '' || passwordErrorMessage() != '' || confirmPasswordErrorMessage()!='' || phoneErrorMessage()!='' "> Registration</button><br/><br/><br><br>
                <a routerLink="/login">Sign in instead</a> 
            </mat-card-actions>
        </mat-card-content>
      </form>
      </div>
    </mat-card>
</div>