<div class="registrationContainer" >
    <mat-card class="box">
        
      <mat-card-header>
        <mat-card-title >
        <div class="mat-display-1">FundooNotes</div>
        </mat-card-title>
        <mat-card-subtitle >
            <div class="mat-typography"><h1 class="title">Registration</h1></div>
        </mat-card-subtitle>
      </mat-card-header>
     
      <div class="registrationContent" >
        <form [formGroup]="registrationForm">
        <mat-card-content  >
            <div class="form-group">
                <mat-form-field floatLabel="auto" >
                   <input formControlName="userName" class="form-control" matInput placeholder="Enter your Name" type="text"   >
                </mat-form-field>
             </div>
             <div class="form-group">
                <mat-form-field floatLabel="auto" >
                   <input formControlName="email" matInput placeholder="Enter your Email" type="email" [formControl]="emailMessage"   >
                   <mat-error  *ngIf="emailMessage.invalid">{{emailErrorMessage()}}</mat-error>
                </mat-form-field>
             </div>
             <div class="form-group">
                <mat-form-field >
                     <input formControlName="password" matInput placeholder="Password" type="password" [formControl]="passwordMessage"   >
                     <mat-error  *ngIf="passwordMessage.invalid">{{passwordErrorMessage()}}</mat-error>
                 </mat-form-field>
             </div>

             <div class="form-group">
                <mat-form-field floatLabel="auto" >
                   <input formControlName="phone" matInput placeholder="Enter your Mobile Number" type="text"   >
                   <mat-icon color="primary">phone</mat-icon>
                </mat-form-field>
             </div>

            <mat-card-actions>
                <button mat-raised-button  (click)="onSubmit()" type="submit"> Registration</button><br/><br/><br><br>
                <a routerLink="/login">Sign in instead</a> 
            </mat-card-actions>
        </mat-card-content>
      </form>
      </div>
    </mat-card>
</div>